<div class="contactMail" id="mail" routerLinkActive="aktive">
  
  <div class="container">
    
    <div class="row">
      
      <div data-aos="fade-right" class="text-center">
        <i class="info fa fa-mobile"></i>
        <h4><a href="Tel: +491738333337"><span>+49</span>1738333337</a></h4>
      </div>
      <div data-aos="fade-down">
        <i class="info fa fa-envelope"></i>
        <h4><a href="mailto:adi.shar@mail.ru">adiletsharshekeev@<span>yahoo.de</span></a></h4>
      </div>
      <div data-aos="fade-left">
        <i class="info fa fa-git"></i>
        <h4><a href="https://github.com/Adi8723"><span>Adi</span>8723</a></h4>
      </div>
    </div>
  </div>
</div>
