<div class="about" #about id="about">
  <div class="container">
    <div class="row">
      <div class="about-block">
        <h5
          data-aos="fade-down"
          data-aos-easing="linear"
          data-aos-duration="1500"
        >
          <span>About</span>me
        </h5>
        <hr class="line" />
      </div>
      <div class="info-block">
        <p data-aos="zoom-in">
          I am a German speaking Web Developer with experience in building web apps with JavaScript & Angular. You can find my projects that include responsive websites and business apps in my public porftolio. I started my IT journey on the advice of a friend who was starting to learn Javascript. And I was very interested in it, and I decided to take professional training and build projects. I am looking forward to building on my experience and starting my career in IT in a junior developer position. 
        </p>
      </div>
    </div>
  </div>
</div>
