<div class="home" id="home" #home>
  <div class="container">
    <div class="main">
      <div class="home-left">
        <img src="assets/img/pp_wbg.png" style="width: 310px" alt="" />
      </div>

      <div class="home-right">
        <h4>Hello, I am<span>Adilet Sharshekeev</span></h4>

        <!-- <span *ngIf="showname" id="name"> {{ Iam[currentname] }} </span> -->
        <p>I am Front-End Devoloper</p>
        <button (click)="goAbout()" class="btn">About me</button>
      </div>
    </div>
  </div>
</div>

<div class="arrow">
  <span></span>
  <span></span>
</div>
