<div class="myskills" id="skills">
  <h5 data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">
    <span>MY</span> Skills
  </h5>
  <hr class="line" />
  <div class="container">
    <div class="row">
      <!-- box1 -->
      <div
        class="shake" data-aos="flip-left"
        data-aos-easing="ease-out-cubic"
        data-aos-duration="2000"
      >
        <img src="assets/img/Git-Icon-1788C 2.png" alt="" />
        <h6 class="u-hover--sparkle" data-animation="upscale">Gi<span>t</span></h6>
      </div>
      <!-- box2 -->
      <div class="rotate"  data-aos="fade-down">
        <img src="assets/img/Group 205.png" alt="" />
        <h6><span>HTML /</span> CSS</h6>
      </div>
      <!-- box3 -->
      <div
        class="pulse" data-aos="flip-left"
        data-aos-easing="ease-out-cubic"
        data-aos-duration="2000"
      >
        <img src="assets/img/angular.png" alt="" />
        <h6>Angu<span>lar</span></h6>
      </div>
      <!-- box4 -->
      <div class="rotate" data-aos="fade-right">
        <img src="assets/img/Group 20.png" alt="" />
        <h6><span>Design</span> Thinking</h6>
      </div>
      <!-- box5 -->
      <div
        class="pulse" data-aos="flip-left"
        data-aos-easing="ease-out-cubic"
        data-aos-duration="2000"
      >
        <img src="assets/img/Group 226.png" alt="" />
        <h6>Scr<span>um</span></h6>
      </div>
      <!-- box6 -->
      <div class="shake" data-aos="fade-left">
        <img src="assets/img/icons8-database-52 2.png" alt="" />
        <h6><span>Data</span>bases</h6>
      </div>
      <!-- box7 -->
      <div
        class="shake" data-aos="flip-left"
        data-aos-easing="ease-out-cubic"
        data-aos-duration="2000"
      >
        <img src="assets/img/icons8-rest-api-80 2.png" alt="" />
        <h6>Rest <span>ApI</span></h6>
      </div>
      <!-- box8 -->
      <div class="pulse" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
        <img src="assets/img/icons8-test-lab-96 2.png" alt="" />
        <h6><span>Test</span> automation</h6>
      </div>
      <!-- box9 -->
      <div
        class="rotate" data-aos="flip-left"
        data-aos-easing="ease-out-cubic"
        data-aos-duration="2000"
      >
        <img src="assets/img/java script.png" alt="" />
        <h6>Java <span>Script</span></h6>
      </div>
    </div>
  </div>
</div>
